html {
    background-color: #fff;
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  
    /* these are specific to different browsers */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid;
    border-radius: 6px;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
  
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(240, 161, 161);
}

.teams{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.celtics{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center; 
}

.bucks{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.cavaliers{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center; 
}

.pacers{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.seventy_sixers{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.raptors{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.wizards{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.hawks{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.nets{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.heat{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.knicks{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.bulls{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.hornets{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.magic{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.pistons{ 
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center; 
}

.suns{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.nuggets{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center; 
}

.pelicans{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;  
}

.grizzlies{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.clippers{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.trail_blazors{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.kings{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.jazz{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.mavericks{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.warriors{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}
.timberwolves{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center; 
}

.thunder{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.lakers{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.spurs{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.rockets{
    display: flex;
    border: solid;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: center; 
}


.middle_section{
    display: flex;
    border: solid;
    background-color: rgba(247, 201, 74, 0.7);
    flex: 1 2 auto;
    margin: 1rem;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-evenly;
}
  
  
  /* Carousel */
div.carousel {
    width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: solid;
    justify-content: space-between;
    align-items: center;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
  
  /* .carousel_item, */
.hidden {
    display: none;
}
  
.visible {
    display: block;
}
  
.carousel_item img {
    width: 500px; 
}
  
.prev,.next {
    border: none;
    margin: 2px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    height: 45px;
    padding: 10px;
    line-height: 0; /* This centers a button's text! */
    border: 2px solid rgb(99,99,99); /* shorthand for how to do a border */
}
  
.prev:focus,
.next:focus {
    margin: 0;
    /* Pick a good border colour and check out how it works with your buttons */
    color: rgb(243, 42, 6);
}
  
.prev:hover,
.next:hover {
    /* Pick a good background colour for your hover pseudoclass */
    color: rgb(243, 42, 6);
}
.box {
    background-color: rgba(239, 239, 239, 0.40);
    border: 2px dashed;
    border-radius: 4px;
  
    width: fit-content;
    height:fit-content;
    padding: 1.5rem;
    margin: 0 auto;
}


.bestPlayers{
    display: flex;
    border:solid;
    width: 450;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}